body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(156, 125, 78);
}

/* navbar css starts here  */
.topnav {
    overflow: hidden;
    background-color: rgb(24, 36, 192);
  }
  
.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #2196F3;
    color: white;
    float: left;
}

.topnav a.active:hover {
    background-color: #1bc95e;
    color: white;
}
  
.topnav input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}
  
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: left;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
}
    .topnav a.active {
    background-color: #2196F3;
    color: white;
    text-align: center;
}
    
.topnav input[type=text] {
      border: 1px solid #ccc;  
    }
}
/* navbar css ends here  */

/* Button Starts here */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: #2fa05a!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: #1bc95e!important;
}

/* Button ends here */

/* Copyright Section starts here */

.copyright-text{
    text-align: center;
    color: white;
}

#copyright{
    background-color: black;
    margin-bottom: -10%;
    margin-top: 10px;
}

/* Copyright Section ends here */
